 body{


    /*padding-top: 6rem;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
    display: flex;
    justify-content: center;
    align-content: center;
    
}

.sign-in-section{
        display: block;
        padding: 100px 10px 90px 10px;
        width: 20rem;
        /*display: flex;*/
        /*flex-direction: column;*/
        /*border: solid rgb(0, 137, 253) 0.1rem;*/
        justify-content: center;
        text-align: center;
        border-radius: 0.8rem;

        position: relative;
}

.img-logo{
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    /*top: 0px;*/
    width: 20rem;
    /*border: solid black 1px;*/
    padding-bottom: 5rem;
    overflow-x: auto;

}
.user-details{
    display: flex;
    flex-direction: column;
    
    /*border: solid black 1px;*/
    text-align: left;
    font-size: 1.3rem;

}
.aa{
    font-size: 1.3rem;
    padding: 0.5rem;
    outline: none;
    border-color: #2195f1;
    margin-top: 1rem;
    border-radius: 10px;
}
.aa::placeholder:active{
    color: black;
}
/*aa.active{*/
/*    background-color: pink;*/
/*}*/
.aa:focus{
    border-color: #2195f1;
    /*!*background-color: red;*!*/
    /*border-color: red;*/

}
.ctrl{
    display: flex;
    justify-content: center;

}
.radio{
    display: inline-flex;
    overflow: hidden;
    border: none;
    /*justify-content: center;*/
    align-content: center;
    margin: 0;
    width: 10rem;
    /*padding: 1rem;*/

    /*border-radius: 15px;*/
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);*/

    /*position: absolute;*/
    /*z-index: 0;*/

    /*left: 0;*/
    /*right: 0;*/

    /*padding: 0;*/

}
.radio__input{
    /*padding: 9px 9px;*/
    display: none;

}
.radio__label:hover{
    /* background-color: #001322; */
    text-decoration: underline;
    transition-duration: 0.5s;
}
.radio__label{
    padding: 1rem 1.05rem;
    font-size: 15px;
    font-family: sans-serif;
    color: white;
    background-color:  #2195f1;
    cursor: pointer;
    transition-duration: 0.1s;
    /*border: solid black 1px;*/
}
.radio__label:not(:last-of-type){
    border-right: 1px solid #88bef4;
}
.radio__input:checked + .radio__label{
    /*background: #88bef4 ;*/
    font-weight: bold;
    /* text-decoration: underline; */
    background-color: #006cc5;

}
.sign-footer{
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.btn-login{
    background-color: #2195f1;
    color: white;
    font-size: 1.3rem;
    margin-bottom: 1.3rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: none;

}
.btn-login:hover{
    background-color: #006cc5;
    cursor: pointer;
    transition-duration: 0.5s;
}
.help-options{
    font-size: 1.3rem;
    padding: 0.5rem;
    text-align: center;
    background-color: #2195f1;
    color: white;
    border-radius: 0.4rem;
}
.help-options:hover{
    background-color: #006cc5;
    cursor: pointer;
}
.student-card-container{
    color: #1B2A41;
    width: 290px;
    display: flex;
    flex-direction: column;
    height: 180px;
     margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;border-radius: 5%;
    gap: 8px;
    padding: 20px;
    
}
.user-profile{
    /* color: #1B2A41; */
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.profile-pic{
    height: 100px;
    border-radius: 90%;
}
.user-details{
    height: fit-content;
    

}
.user-details-a{
    margin: 3px;
}
.testing{
    margin: auto;
}
.label-span {
    margin-right: 20px; /* Adjust '20px' for your desired gap size */
}
.status-temp{
    color: green;
}
.basic-card{
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;border-radius: 5%;
    display: flex;
    gap: 8px;
    padding: 20px;
    /* display: block; */
    border-radius: 8px;
	

    
}

.icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.icon{
    height: 30px;
   
    
}
.test2{
    margin: 2px;
}
.home{
    color: #1b2a41;
	column-count: 2;           /* 4 columns by default */
    column-gap: 20px;          /* Space between columns */
    max-width: 1400px;         /* Optional: max width */
    margin: 0 auto;  
	gap: 20px;          /* Center it */
}
.parent-basic-card{
	display: flex;
	flex-direction: column;     /* CRITICAL - makes columns work */
    width: 100%;               /* Take full column width */
    background: white;
    border-radius: 12px;
    padding: 25px;
    margin-bottom: 20px;       /* Space between cards vertically */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    break-inside: avoid;
	border: solid black 1px;
    -webkit-column-break-inside: avoid; /* Safari */
    page-break-inside: avoid;  /* Print */
	break-inside: avoid; /* Already have this? */
}

.personal-details-card{
    /* background-color: green; */
	display: flex;
	flex-direction: column;
	
}
.card-extension{
    background-color: rgb(240, 201, 201);
	/* height: 0; */
	transition-duration: 5s;
	position: static;
	overflow: hidden;
}